html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.scrollCart {
  overflow: hidden;
  overflow: scroll;
}

/*css3 design scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {      
    background: white;    
}
 
::-webkit-scrollbar-thumb {
    background: #009B90;
    border-radius:10px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.divine {
    padding: 10px 40px 10px;
    display: flex;
}

.divine div:nth-child(2) {
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    margin: 0 18px;
    color: #8e8e8e;
}

.divine div:nth-child(1),
.divine div:nth-child(3) {
    flex-grow: 1;
    height: 1px;
    background-color: #dbdbdb;
    position: relative;
    top: 0.45em;
}

.adminNavbar {
 width: calc(100vw - 260px);
}
/* responsive sidebar */

.sideBar {
    position:sticky;
    z-index: 9;
    top: 0;
}

@media only screen and (max-width: 768px) {
    .sideBar {
      display: none;
    }
}

/* ----------------- untuk filter responsive ----------------- */
@media only screen and (max-width: 1059px) {
    .filter {
      display: none;
    }
    
}

/* -----------------input form for Email----------------- */
.labelText {
    position: absolute;
	top: 8px;
	left: 10px;
	color: rgb(109, 109, 109);
	text-transform: capitalize;
	transition: top .3s;
	padding: 0;
}

.inputText:focus + .labelText,
.inputText:valid + .labelText
{
    top: -10px;
    background-color: #ffffff;
    z-index: 100;
    font-size: small;
}

.topnavbar {
    position: sticky;
    z-index: 9;
    top: 0;
}

.Button-Navbar :hover {
 color: #00ACEE;
 border-bottom-width: 3px;
 border-bottom-color: #3B9AE1;
}

/* responsive login */
@media only screen and (max-width: 880px) {
    .image-auth {
        display: none;
    }
}

/* responsive banner */
@media only screen and (max-width: 1210px) {
    .image-banner {
        color: black;
    }
}